@model IEnumerable<myBot.Models.Bot>

@{
    ViewBag.Title = "Your Bots";
}

<div class="caption-with-commands">
    <h4>@ViewBag.Title</h4>

    <a href="@Url.Action("Create")" title="Add new bot" class="btn-floating btn-flat waves-effect waves-light teal lighten-1">
        <i class="mdi-content-add"></i>
    </a>
</div>

<div class="collection">
    @foreach (var item in Model)
    {
        <a href="@Url.Action("Details", new { id = item.BotID })" class="collection-item">
            <i class="mdi-navigation-chevron-right right"></i>
            @@@Html.DisplayFor(modelItem => item.BotID)
        </a>
    }
</div>
