@model IEnumerable<myBot.Models.Bot>

@{
    ViewBag.Title = "Your Bots";
}

<h2>@ViewBag.Title</h2>


<div class="collection">
    @foreach (var item in Model)
    {
        <a href="@Url.Action("Details", new { id = item.BotID })" class="collection-item">
            <i class="mdi-navigation-chevron-right right"></i>
            @@@Html.DisplayFor(modelItem => item.BotID)
        </a>
    }
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
