/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/* ----------------- */
.not-signedin .visible-if-signedin,
.signedin .visible-if-not-signedin {
    display: none;
}

/* ----------------- */
/*.navbar-nav a.user-name {
    color: #fff !important;
}

.home-page.jumbotron .btn {
    width: 100%;
}*/

/* ---- Bot/Detail ---- */
.bot-enabled-true .bot-disabled,
.bot-enabled-false .bot-enabled {
    display: none;
}
