@{
    ViewBag.Title = "Error";
}

<style>
    p {
        text-align: center;
    }

    .face-mark {
        font-size: 200%;
        margin-top: 2em;
    }
</style>

<p class="face-mark">:(</p>

<p>Oops... something wrong.</p>

<p><a href="@Url.Action("Index", "Home")">Go to Home</a></p>
