@using Microsoft.AspNet.Identity
<form class="visible-if-signedin" id="signOutForm" action="@Url.Action("SignOut", "Account")" method="post">
    @Html.AntiForgeryToken()
    <span class="user-name">@@@User.Identity.GetUserName()</span>
    |
    <a href="javascript:if(confirm('Are you sure?'))document.getElementById('signOutForm').submit()">@_Localize.SignOut</a>
</form>
